/*Take  into  consideration  that     normalize.css doesn't  remove  the  margin  or padding  values  of  some  text  elements.  Reset  these  properties  at  the  block level.  Your  project  shouldn't  have  any  margin  or  padding  values  inherited  from the  default  browser  styles.*/
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
