.footer__column-link {
  display: flex;
  justify-content: flex-start;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  text-decoration: none;
  color: white;
  transition: opacity 1s linear;
}

/* .footer__column:hover {
  opacity: 0.5;
}
 */
