.khan__buy-link {
  position: relative;
  display: block;
  /* margin-top: 68px; */
  /*   line-height: 51px;
  font-size: 36px; */
  /*  font-weight: normal; */
  /* position: absolute; */
  /*  top: 50%;
  right: 48px; */
  color: #2f80ed;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s linear;
  /* content: " (" attr(href) ")"; */
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
